.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all ease .5s;
    transition-property: transform;
}

.checkoutProduct:hover {
    transform: scale(1.07);
}

.checkoutProduct_info {
    padding-left: 20px;
}

.checkoutProduct_info>button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #f0c14b #cc9917 #88640b;
    color: #111;
}

.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_rating {
    display: flex;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}


/*  responsive */

@media screen and (max-width: 450px) {
    .checkoutProduct {
        flex-direction: column;
        width: 80vw;
    }
    .checkoutProduct_title {
        font-size: 15px;
        font-weight: 700;
        width: 80%;
    }
}