.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    width: 100%;
    max-height: 400px;
    height: auto;
    min-width: 100px;
    padding: 20px;
    transition: transform ease-in-out .5s;
}

.product:hover {
    transform: scale(1.05);
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>button {
    background-color: #f0c14b;
    border: 1px solid #c2931d;
    margin-top: 10px;
    color: #111;
}

.product_rating {
    display: flex;
}

.product_price {
    /* responsive */
}

.product_info {
    /* height: auto; */
    margin-bottom: 15px;
}


/* responsive */

@media screen and (max-width: 450px) {
    .product {
        justify-content: center;
        max-height: 600px;
        width: auto;
    }
    .product_info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
        flex-wrap: nowrap;
        margin-top: 15px;
    }
}